.text-input {
    border: 1px solid #cacccd;
    height: 50px;
    padding: $s-size;
    font-size: $font-size-large;
    font-weight: 300;
}

.select {
    @extend .text-input;
}

.text-area {
    @extend .text-input;
    height: 10rem;
}

input,
textarea,
select {
    outline: none;
}

input,
textarea {
    border-radius: 6px;
}

input:focus,
input:hover,
textarea:focus,
textarea:hover,
select:focus,
select:hover {
    border: 1px solid #474787;
}