.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.login-text {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 300;
    margin-top: 80px;
}

.login-text span {
    font-weight: 600;
}

.login-text div:first-child {
    font-weight: 600;
}

.login-content-wrapper {
    display: flex;
    flex-direction: column;
}

.login-content-wrapper .button {
    text-align: center;
}